.git
.venv
__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache
*.egg-info
dist
build
scripts
.vscode
.ruff_cache
LICENSE.md
mkdocs.yml
render.yaml
README.md
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SignSync.postman_collection.json
setup.py
API_ENDPOINTS.md
tests/
.pre-commit-config.yaml
.env
src/.env
src/.env.*
crudadmin_data
